<!-- content area with 3 images -->
<section id="about" class="wrapper wrapper-md">
  <div class="container  wow fadeIn">
    <h2 class="section-title">How it Works</h2>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "users.png", class: "img-responsive" %>
        <h5 class="item-title">Sign Up</h5>
        <p class="item-desc">Register for a free account at mypostcause.com.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "configure.png", class: "img-responsive" %>
        <h5 class="item-title">Configure</h5>
        <p class="item-desc">Create your custom widget in seconds.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "embed.png", class: "img-responsive" %>
        <h5 class="item-title">Embed</h5>
        <p class="item-desc">Embed on your website with only two lines of code.</p>
      </div>
    </div>
    <div class="row">
      <h3 id="about-close">Your visitors can send printed, stamped and shipped mail to their representatives, without leaving your site.</h3>
    </div>
  </div>
</section>
