<!-- content area with 3 images -->
<section id="about" class="wrapper wrapper-md">
  <div class="container  wow fadeIn">
    <h2 class="section-title">How it Works</h2>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "users.png", class: "img-responsive" %>
        <h5 class="item-title">Sign Up</h5>
        <p class="item-desc">Register for a free account at mypostcause.com.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "configure.png", class: "img-responsive" %>
        <h5 class="item-title">Configure</h5>
        <p class="item-desc">Design your custom website or embeddable widget in minutes with pre-written copy and target addressees.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "rocket.png", class: "img-responsive" %>
        <h5 class="item-title">Launch</h5>
        <p class="item-desc">Launch your own campaign website or embed our widget on your organization's site.</p>
      </div>
    </div>
    <div class="row">
      <br><br>
      <h3 id="about-close">Empower your constituents to send physical mail directly to their representatives,<br>all online without licking a stamp.</h3>
    </div>
  </div>
</section>
