<!-- content area with 3 images -->
<section id="about" class="wrapper wrapper-md">
  <div class="container  wow fadeIn">
    <h2 class="section-title">How it Works</h2>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "theme/image3.jpg", class: "img-responsive" %>
        <h5>1.Sign Up</h5>
        <p>Register for a free account at constituentconnect.com.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "theme/image13.jpg", class: "img-responsive" %>
        <h5>2. Configure</h5>
        <p>Create your custom widget in seconds.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "theme/image14.jpg", class: "img-responsive" %>
        <h5>3. Embed</h5>
        <p> Embed your widget on your website with two lines of code.  Your visitors can send printed, stamped and shipped mail, without leaving your site.</p>
      </div>
    </div>
  </div>
</section>
