<!-- content area with 3 images -->
<section id="team" class="wrapper wrapper-secondary wrapper-md">
  <div class="container  wow fadeIn">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "theme/image3.jpg", class: "img-responsive" %>
        <h5>At vero eos et accusam</h5>
        <p> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "theme/image13.jpg", class: "img-responsive" %>
        <h5>At vero eos et accusam</h5>
        <p> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "theme/image14.jpg", class: "img-responsive" %>
        <h5>At vero eos et accusam</h5>
        <p> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</section>
