
<section id="why-mail" class="wrapper wrapper-default wrapper-lg">
  <div class="container  wow fadeIn">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag "pen.png", class: "img-responsive" %>
      </div>
      <div class="col-md-5">
        <h3 class="section-title left">Why Mail?</h3>
        <h4 class="section-subtitle left">Launch An Impactful Campaign</h3>
        <p>It's all too easy for politicians to ignore digital advocacy: emails, tweets and blogs are lost in the clutter.</p>
        <p>Snail mail allows your advocates to engage with their representatives directy, on your behalf.</p>
        <p>PostCause serves as a unique bridge between digital advocacy and offline social action.</p>
      </div>
    </div>
  </div>
</section>
