<section id="sample" class="wrapper wrapper-secondary wrapper-lg">
  <div class="container  wow fadeIn">
    <h2 class="section-title">Sample Widget</h2>

    <div class="row">
      <div class="col-md-4" style="margin-top:50px;">
        <script type='text/javascript' src="http://mypostcause.com/embeds/<%= @widget.id %>.js"></script>
      </div>
    </div>
  </div>
</section>
