<section id="sample" class="wrapper wrapper-secondary wrapper-lg">
  <div class="container  wow fadeIn">
    <h2 class="section-title">Here is a sample of what can be embedded on your website</h2>

    <script type='text/javascript' src="http://<%= APP_HOST %>/embeds/<%= @widget.id %>.js"></script>

    <div class="row">
      <div class="col-md-4" style="margin-top:50px;">
      </div>
    </div>
  </div>
</section>
