<!-- Footer section -->
<section id="footer" class="wrapper wrapper-transparent wrapper-sm">
  <div class="container  wow fadeIn">

    <div class="row">
      <div class="col-md-2 col-xs-6">
        <h4>Menu</h4>
            <ul class="nav subnav">
              <li role="presentation" class="active"><a href="#">News</a></li>
              <li role="presentation"><a href="#">Mobile</a></li>
              <li role="presentation"><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-6">
          <h4>Menu</h4>
          <ul class="nav subnav">
              <li role="presentation" class="active"><a href="#">Imprint</a></li>
              <li role="presentation"><a href="#">Twitter</a></li>
              <li role="presentation"><a href="#">Facebook</a></li>
              <li role="presentation"><a href="#">Google +</a></li>
              <li role="presentation"><a href="#">Jobs</a></li>
              <li role="presentation"><a href="#">Company</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <h5>Sample Widget</h5>

          <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  <br>
          Designed and developed by <a href="http://www.templatedeck.com" target="_blank">TemplateDeck</a>
          </p>
          <p>
          </p>
        </div>
    </div>
  </div>
</section>
