var buildCard = function(legislator) {
  var addressDiv = $("#ccw_widget_container .ccw-card-content .address-data");
  var messageEmail = $(".ccw-after-rep-chosen").toggle();
  // First, empty the info in the address div if any before filling it out
  addressDiv.empty();
  $.each(legislator, function(key, value) {
    var dataString = "<p class='" + key + "'>" + value + "</p>";
    addressDiv.append(dataString);
  });
}

var submitPostcard = function() {
  $(".ccw-remove-post-order, .ccw-after-order-success").toggle();
  return false;
}

var fetchRepsByAddress = function() {
  var listGroup = $("#ccw_legislators_list");
  var address = $("#ccw_address_input").val();
  var url = "legislators?address=" + address + ".json"
  $.getJSON(url, function( data ) {
    if (data.length !== 0) {
      $("#ccw_submit_div .removeable").hide();
    }

    $.each(data, function(index, legislator) {
      var mainOffice = "";
      var districtOffice;
      if (legislator.offices[0] !== "undefined") {
        districtOffice = legislator.offices[0].address;
      } else {
        districtOffice = "";
      }
      // We'll need to replace the attributes with whatever we get back from real API
      var newLink = "<a href='#leg" + index + "'" + "class='list-group-item' data-name='" + legislator.full_name + "'" +
                    " data-address='" + mainOffice + "'" +
                    " data-district='" + legislator.district + "'" +
                    " data-district-office='" + districtOffice + "'" + ">" + legislator.full_name + " - " + legislator.district + "</a>";
      listGroup.append(newLink);
    });

    $(".list-group-item").click(function(e) {
      // Once a legislator is chosen, let's hide the list of legislators before filling in the card
      $("#ccw_legislators_list").hide();
      buildCard(e.target.dataset);
    });
  });
}

document.write("<%= escape_javascript(render(:partial => "embeds/widget_css", :locals => {:widget => @widget})).html_safe %>");
document.write("<%= escape_javascript(render(:partial => "templates/widget", :locals => {:widget => @widget})).html_safe %>");
var addressSubmitButton = document.getElementById("ccw_address_submit_button");
addressSubmitButton.addEventListener("click", function() { fetchRepsByAddress() }, false);
$("#ccw_postcard_submit").click(function(){ submitPostcard(); });