var buildCard = function(legislatorData) {
  var addressDiv = $("#ccw_widget_container .ccw-card-content .address-data");
  var messageEmail = $(".ccw-after-rep-chosen").toggle();
  // First, empty the info in the address div if any before filling it out
  addressDiv.empty();
  $.each(legislatorData, function(key, value) {
    var dataString = "<p class='" + key + "'>" + value + "</p>";
    addressDiv.append(dataString);
  });
}

var submitPostcard = function() {
  if($('#user-email').val() != "" && $('#user-message').val() != ""){
    $(".ccw-remove-post-order, .ccw-after-order-success").toggle();
  }
  else{
    $('#fill-form-error').show()
  }
  return false;
}

var fetchRepsByAddress = function(address) {
  var listGroup = $("#ccw_legislators_list");
  var url = "legislators?address=" + address + ".json"
  $.getJSON(url, function( data ) {
    if (data.length !== 0) {
      $("#ccw_submit_div .removeable").hide();
    }

    $.each(data, function(index, legislator) {
      var office = "";
      if (legislator.offices[0] != "undefined" && legislator.offices[0].address != "undefined") {
        office = legislator.offices[0].address;
      } else if (legislator.districtOffice != "undefined"){
        office = legislator.districtOffice;
      }
      // We'll need to replace the attributes with whatever we get back from real API
      var newLink = "<a href='#leg" + index + "'" + "class='list-group-item' data-name='" + legislator.full_name + "'" +
                    " data-address='" + office + "'" + ">" +
                    // "<img src='" + legislator.photo_url + "'>" +
                    legislator.full_name + " (" + legislator.party.charAt(0) + ")<br>" + "District " +legislator.district + "</a>";
      listGroup.append(newLink);
    });

    $("#ccw_legislator_prompt").show()
    $(".list-group-item").click(function(e) {
      // Once a legislator is chosen, let's hide the list of legislators before filling in the card
      $("#ccw_legislators_list").hide();
      $('#ccw_legislator_prompt').hide()
      buildCard(e.target.dataset);
    });
  });
}

document.write("<%= escape_javascript(render(:partial => "embeds/widget_css", :locals => {:widget => @widget})).html_safe %>");
document.write("<%= escape_javascript(render(:partial => "templates/widget", :locals => {:widget => @widget})).html_safe %>");
// var addressSubmitButton = document.getElementById("ccw_address_submit_button");
// addressSubmitButton.addEventListener("click", function() { fetchRepsByAddress() }, false);
$("#ccw_postcard_submit").click(function(){ submitPostcard(); });



$(document).ready(function(){
  var input = document.getElementById('ccw_address_input');
  var autoCompleteoptions = { types: ['geocode']};

  var autocomplete = new google.maps.places.Autocomplete(input, autoCompleteoptions);

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    input.className = '';
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      // Inform the user that the place was not found and return.
      input.className = 'notfound';
      return;
    }
    else{
      fetchRepsByAddress(place.formatted_address)
    }
  })
})
