$red: #cc0000;
$blue: #3333ff;

.section-title {
  text-align: center; margin: 0 0 40px 0;
  font-weight: bold!important;
  &.left {text-align: left;}
}


#about{
  .item-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  .item-desc {
    text-align: center;
    font-size: 18px;
  }

  #about-close{
    text-align: center;
    width: 75%;
    margin: 30px auto 0 auto;
    line-height: 40px;
  }
}


#why-mail{
  .section-title { margin-bottom: 15px;}
  .section-subtitle{margin: 0 0 10px 0; font-weight: 100; font-style: italic;}
}
