$red: #cc0000;
$blue: #3333ff;


.navbar-brand{
  padding: 30px; margin: 0;
  #navbar-logo {height: 35px;}
}

#hero {
  background-image: asset-url("image3.jpg");
  background-size:cover;
  #hero-logo {
    width: 60%; max-width: 650px; margin-bottom: 40px;
  }
}

#pricing {
  background-image: asset-url("image7.jpg");
  background-size:cover;
}
.section-title {
  text-align: center; margin: 0 0 40px 0;
  font-weight: bold!important;
  &.left {text-align: left;}
}


#about{
  .item-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  .item-desc {
    text-align: center;
    font-size: 18px;
  }

  #about-close{
    text-align: center;
    width: 75%;
    margin: 30px auto 0 auto;
    line-height: 40px;
    font-weight: 400!important;
  }
}


#why-mail{
  .section-title { margin-bottom: 15px;}
  .section-subtitle{margin: 0 0 10px 0; font-weight: 100; font-style: italic;}
  p {font-size: 18px;}
}

#contact{
  p {font-size: 18px; margin-top: 15px;}

}
#inbound-form-msg-container {height: 30px;}
#inbound-form-errors {color: red; display: none;}
#inbound-form-confirm {display: none;}
