<!DOCTYPE html>
<html>
<head>
  <title>PostCause</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="skrollr-body" data-spy="scroll" data-target=".navbar" class="layout-boxed-no">

<%= yield %>

</body>
</html>
